<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_partial/head.ejs') %>
</head>
<body>
    <%- include('./_components/_title.ejs') %>

	<div class="content">
		<article>
			<div class="title-box">
				<h1 class="title">
					<% if( page.headtag ) { %>
						<span class="arti-tag" style="<%= 'background:' + page.headtagColor %>"><%= page.headtag %></span>
					<% } %>
					<%- page.title %>
				</h1>
				<span class="date">
					<i class="icon-calendar fa fa-calendar"></i>
					<span class="time"><%= date(page.date, 'YYYY.MM.DD') %></span>
				</span>
			</div>
			<div class="article-text markdown-body">
				<%- page.content %>
			</div>
		</article>
	</div>

    <%- include('./_partial/footer.ejs') %>
</body>
</html>
				
